[Unit]
Description=n8n Automation Platform
After=automation-postgres.service
Requires=automation-postgres.service

[Container]
Image=docker.io/n8nio/n8n
ContainerName=automation-n8n
Network=automation.network

Secret=n8n-encryption-key,type=mount,target=n8n-encryption-key
Secret=n8n-db-password,type=mount,target=n8n-db-password

Environment=N8N_ENCRYPTION_KEY=/run/secrets/n8n-encryption-key

Environment=N8N_EDITOR_BASE_URL=https://n8n.automation.local:8443
Environment=WEBHOOK_URL=https://n8n.automation.local:8443/hooks/

# point to postgresdb for unified storage of n8n internal data (different from the n8n_workflow account that is used with workflow credentials)
Environment=DB_TYPE=postgresdb
Environment=DB_POSTGRESDB_HOST=automation-postgres
Environment=DB_POSTGRESDB_DATABASE=n8n
Environment=DB_POSTGRESDB_USER=n8n
Environment=DB_POSTGRESDB_PORT=5432
Environment=DB_POSTGRESDB_PASSWORD_FILE=/run/secrets/n8n-db-password

# to bypass creation of admin account each launch
Secret=n8n-owner-password-hash,type=mount,target=n8n-owner-password-hash
Environment=N8N_INSTANCE_OWNER_MANAGED_BY_ENV=true
Environment=N8N_INSTANCE_OWNER_EMAIL=admin@automation.local
Environment=N8N_INSTANCE_OWNER_PASSWORD_HASH_FILE=/run/secrets/n8n-owner-password-hash
Environment=N8N_INSTANCE_OWNER_FIRST_NAME=Automation
Environment=N8N_INSTANCE_OWNER_LAST_NAME=Admin

Timezone=Europe/Berlin

PublishPort=127.0.0.1:5678:5678

Memory=2g
PodmanArgs=--cpus=2

Volume=n8n_data:/home/node/.n8n:Z,U
Volume=n8n_files:/files:Z,U
Volume=${HOME}/.local/share/containers/quadlets_bk/n8n:/bk:Z,U

[Service]
Restart=always
RestartSec=30

[Install]
WantedBy=default.target
