[Unit]
Description=pgAdmin - Postgres admin UI
After=automation-network.service
Requires=automation-network.service

[Container]
Image=docker.io/dpage/pgadmin4:latest
ContainerName=automation-pgadmin
Network=automation.network
Volume=pgadmin-data:/var/lib/pgadmin:Z,U
Secret=pgadmin-admin-email,type=env,target=PGADMIN_DEFAULT_EMAIL
Secret=pgadmin-admin-password,type=mount,target=pgadmin-admin-password
Environment=PGADMIN_CONFIG_SERVER_MODE=True

[Service]
Restart=always

[Install]
WantedBy=default.target
