[Unit]
Description=NocoDB
After=automation-postgres.service
Requires=automation-postgres.service

[Container]
Image=docker.io/nocodb/nocodb:latest
ContainerName=automation-nocodb

Network=automation.network

Secret=nocodb-db-url,type=env,target=NC_DB

Volume=nocodb-data:/usr/app/data:Z,U

[Service]
Restart=always

[Install]
WantedBy=default.target
